/* .carousel-inner{
     height: 300px;
}

.item, img{
    height: 100% !important;
    width:  100% !important;
    border: 1px solid red;
} */
.card-2 {
  margin-top: 40px;
}
.row-1 {
  margin-top: 70px;
}
.col {
  height: 60px;
}
